@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  @media screen and (max-width: 600px) {
    font-size: 70%;
  }
}

body {
  font-family: "Inter", "Inter var", ui-sans-serif, system-ui, -apple-system,
    "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica Neue", "Arial",
    "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  #root {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 15px;
  }
}

a {
  text-decoration: none;
  color: inherit;
  display: inline;
}

img,
svg {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

textarea {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  resize: none;

  &:focus {
    outline: none;
  }
}

input {
  border: none;
}
