:root {
  --black: #171c26;
  --white: #ffffff;
  --gray: #6b7589;
  --slaver: #a4abb8;
  --alice-blue: #f3f5f7;

  --shadow-md: 0px 2px 13px rgba(73, 72, 106, 0.18);

  // breakpoints
  --md: 800px;
}
