.tooltip-container:hover .tooltip-text {
  visibility: visible;
  opacity: 1;

  &::after {
    content: "";
    border-color: transparent transparent rgb(100, 100, 100) transparent;
    left: 50%;
    transform: translateX(-50%);
    margin-left: -4px;
    @apply absolute transform border-4 border-solid bottom-full;
  }
}
