input.slider {
  width: 100%;
  height: 100%;
  -webkit-appearance: none;
  background: none;

  &:focus {
    outline: none;
  }

  /* Chrome & Safari */
  &::-webkit-slider-runnable-track {
    background: none;
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    @apply w-1.5 h-1.5  rounded-full cursor-pointer bg-black;
    &:active {
      transform: scale(0.9);
    }
  }
  /* Firefox */
  &::-moz-range-thumb {
    -webkit-appearance: none;
    @apply w-1.5 h-1.5 rounded-full cursor-pointer bg-black;
    border: none;
    &:active {
      transform: scale(0.9);
    }
  }
}
